matrix:
  include:
  - language: rust
    script:
    - rustc code/_init_rust.rs
    - ./_init_rust
    
  - language: go
    install:
    - sudo apt-get install golang-go
    script:
    - go build code/main.go
    - go run code/main.go
